.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #btn-back-to-top {
    position: fixed;
    display: none;
  }
 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

  html {
      scroll-behavior: smooth;
  }

  :root {
      --color: #6C5CE7;
  }
  
  .heading {
      margin: 1rem;
      padding-top: 2rem;
      display: inline-block;
      font-size: 3rem;
      color: var(--color);
      position: relative;
      letter-spacing: .2rem;
  }

  .heading::before,
  .heading::after {
      content: '';
      position: absolute;
      height: 2rem;
      width: 2rem;
      border-top: .2rem solid var(--color);
      border-left: .2rem solid var(--color);
  }

  .heading::before {
      top: 2rem;
      left: -2rem;
  }

  .heading::after {
      bottom: -.5rem;
      right: -2rem;
      transform: rotate(180deg);
  }

  .features {
      width: 100%;
      text-align: center;
      padding: 0 3%;
  }

  .features {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
 

  